<a href="https://colab.research.google.com/github/InoRM21/OOP-1-2/blob/main/OOP_Concepts2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Classes with Multiple Objects

In [1]:
class Birds:
  def __init__(self,bird_name):
    self.bird_name = bird_name

  def flying_birds(self):
    print(f"{self.bird_name} flies above the sky")

  def non_flying_birds(self):
    print(f"{self.bird_name} is the national bird of the Philippines")

vulture=Birds("Griffin Vulture")
crane=Birds("Common Crane")
emu=Birds("Emu")

vulture.flying_birds()
crane.flying_birds()
emu.non_flying_birds()

Griffin Vulture flies above the sky
Common Crane flies above the sky
Emu is the national bird of the Philippines

Encapsulation with mangling with double underscores

In [2]:
class foo:
  def __init__(self,a,b):
    self.a = a
    self.b = b

  def add(self):
    return self.a + self.b

number = foo(3,4)
number.add()

number.a = 7   #7,4 7+4=11
number.add()

11

Encapsulation with Private Attributes

In [3]:
class Counter:
  def __init__(self):
    self.current = 0

  def increment(self):
    self.current +=1
  def value(self):
    return self.current
  def reset(self):
    self.current = 0

num = Counter()
num.increment()  #counter = counter + 1
num.increment()
num.increment()

num.value()

3

Inheritance

In [4]:
class Person:
  def __init__(self,firstname,surname):
    self.firstname = firstname
    self.surname = surname

  def printname(self):
    print(self.firstname,self.surname)

person = Person("Ino","Manaysay")
person.printname()

class Teacher(Person):
  pass

person2 = Teacher("Maria","Sayo")
person2.printname()

class Student(Person):
  pass

person3 = Student("Florentino","Manaysay")
person3.printname()

Ino Manaysay
Maria Sayo
Florentino Manaysay

Polymorphism

In [5]:
class RegularPolygon:
  def __init__(self,side):
   self.side = side
class Square(RegularPolygon):
  def area(self):
   return self.side * self.side
class EquilateralTriangle(RegularPolygon):
  def area(self):
   return self.side * self.side * 0.433

object = Square(4)
print(object.area())

object2 = EquilateralTriangle(3)
print(object2.area())

16
3.897

#Application 1

In [6]:
class Person:
  def __init__(self,std1,std2,std3,pre,mid,fin):
    self.std1 = std1
    self.std2 = std2
    self.std3 = std3
    self.pre = pre
    self.mid = mid
    self.fin = fin

std1 = input("Enter your name: ")
pre = float (input("Enter your grades in pre: "))
mid = float (input("Enter your grades in mid: "))
fin = float (input("Enter your grades in fin: "))
sum = pre + mid + fin
average = sum/3

print ("Name is: ", std1)
print ("Grades are: ",pre,mid,fin)
print ("Average Grades is: ", average)

std2 = input("Enter your name: ")
pre = float (input("Enter your grades in pre: "))
mid = float (input("Enter your grades in mid: "))
fin = float (input("Enter your grades in fin: "))
sum = pre + mid + fin
average = sum/3

print ("Name is: ", std2)
print ("Grades are: ",pre,mid,fin)
print ("Average Grades is: ", average)

std3 = input("Enter your name: ")
pre = float (input("Enter your grades in pre: "))
mid = float (input("Enter your grades in mid: "))
fin = float (input("Enter your grades in fin: "))
sum = pre + mid + fin
average = sum/3

print ("Name is: ", std3)
print ("Grades are: ",pre,mid,fin)
print ("Average Grades is: ", average)

Enter your name: Ino Manaysay
Enter your grades in pre: 97
Enter your grades in mid: 98
Enter your grades in fin: 99
Name is:  Ino Manaysay
Grades are:  97.0 98.0 99.0
Average Grades is:  98.0
Enter your name: Haruto Watanabe
Enter your grades in pre: 98
Enter your grades in mid: 98
Enter your grades in fin: 99
Name is:  Haruto Watanabe
Grades are:  98.0 98.0 99.0
Average Grades is:  98.33333333333333
Enter your name: Seungcheol Choi
Enter your grades in pre: 98
Enter your grades in mid: 99
Enter your grades in fin: 99
Name is:  Seungcheol Choi
Grades are:  98.0 99.0 99.0
Average Grades is:  98.66666666666667